﻿<style>
</style>
<div class="ama-registry-changedoc-include-main">
	<div class="head">
		<%= obj.fields_control('Заголовок') %>
	</div>
	<div class="parts">
		<%= obj.control('В_том_числе') %>
	</div>
</div>