﻿<style>
div.ama-registry-changedoc-include-parts input.rub
{
	width: 120px;
}
div.ama-registry-changedoc-include-parts input.kop
{
	width: 40px;
}
div.ama-registry-changedoc-include-parts div.title1
{
	display: inline-block;
	width: 150px;
}
div.ama-registry-changedoc-include-parts div.collection-item div.title1
{
	text-align: right;
}
div.ama-registry-changedoc-include-parts div.collection-item input.title1
{
	width: 730px;
	margin-right: 3px;
}
div.ama-registry-changedoc-include-parts select.add
{
	color: silver;
	border-color: silver;
	margin-left: 210px;
}
div.ama-registry-changedoc-include-parts select.add option
{
	color:black;
}
div.ama-registry-changedoc-include-parts div.options
{
	display: inline-block;
	padding-right: 100px;
	float: right;
}
div.ama-registry-changedoc-include-parts div.collection-item,
div.ama-registry-changedoc-include-parts div.parts-head
{
	padding: 3px;
	display: inline-block;
}
div.ama-registry-changedoc-include-parts div.collection-item:hover
{
	background-color: #eeeeee;
}
</style>
<div class="ama-registry-changedoc-include-parts">
	<div class="parts-head">
		<div class="title1">Требования:</div>
		<select class="add">
			<option value="">+ Выберите вид задолженности для добавления..</option>
			<option>Основной долг</option>
			<option>Проценты за пользование чужими денежными средствами</option>
			<option>Штрафные санкции по договору</option>
			<option>Неустойка</option>
			<option>Задолженность по заработной плате</option>
			<option>Проценты на сумму основного долга</option>
			<option>Моральный вред</option>
			<option>Недоимка по договору</option>
			<option>Пени</option>
			<option>Штрафы</option>
		</select>
	</div>
	<div <%= obj.not_empty_attrs() %> >
		<% while (obj.iterate()) { %>
			<div <%= obj.item_attrs() %> >

				<input class="title1" type="text" value="<%= obj.txt('Вид') %>" /> 
				<button class="delete">удалить</button>

				<br/>
				<div class="options">
					в размере 
					<input type="text" class="rub" value="<%= obj.txt('Размер.рублей') %>" /> 
					руб. 
					<input type="text"  class="kop" value="<%= obj.txt('Размер.копеек') %>" /> 
					коп. 
					( 
					<select <%= obj.select_attrs('Очередь') %> >
						<option <%= obj.option_attrs('1') %> >1</option>
						<option <%= obj.option_attrs('2') %> >2</option>
						<option <%= obj.option_attrs('3') %> >3</option>
						<option <%= obj.option_attrs('') %> >за</option>
					</select> очередь, 

					<label>
						<input type="checkbox" <%= obj.checkbox_attrs('С_залогом') %> /> 
						c залогом
					</label> ) 

					
				</div>
			</div>
		<% } %>
	</div>
</div>