﻿<div class="ama-rinclude-remove-confirm">
	Вы действительно хотите удалить требование<br/>
	<b>"<%= obj.Вид %><% if (0) { %>Основной долг<% } %>"</b> <br/>
	на сумму 
	<b><%= obj.Размер.рублей %><% if (0) { %>100000<% } %></b> 
	руб. 
	<%= obj.Размер.копеек %><% if (0) { %>00<% } %> 
	коп.?
</div>