﻿<style>
div.ama-registry-summary table
{
	border-collapse: collapse;
}
div.ama-registry-summary table tr.total:hover,
div.ama-registry-summary table tr.queue-number:hover,
div.ama-registry-summary table tr.leaf:hover
{
	background-color: #eeeeee;
}
div.ama-registry-summary table tr.selected
{
	background-color: silver !important;
}
div.ama-registry-summary table td
{
	border-bottom: 1px solid #808080;
}
div.ama-registry-summary td
{
	text-align: right;
}
div.ama-registry-summary tr.title td
{
	text-align: center;
}
div.ama-registry-summary tr td
{
	padding-left: 5px;
	padding-right: 5px;
}
div.ama-registry-summary tr td
{
	border-left: 1px solid #808080;
}
div.ama-registry-summary tr td.title
{
	text-align: left;
	padding-left: 20px;
	border-left: 0;
}
div.ama-registry-summary tr.total td.title
{
	padding-left: 0px;
	font-size: larger;
	font-weight: bolder;
}
div.ama-registry-summary tr.total
{
	color: black;
}
div.ama-registry-summary tr.leaf
{
	color: #7a7a7a;
}
div.ama-registry-summary tr.queue-number td.title
{
	padding-left: 10px;
	font-weight: bolder;
}
</style>
<%
function sumary_number_format(number)
{
	return obj.number_format(number,0,',',' ');
}
function IsLeaf(t)
{
	return (t.Кредиторов && null!=t.Кредиторов) || 0==t.Кредиторов;
}
function Add(a,i)
{
	if (-1==i.Кредиторов || ''==i.Кредиторов)
	{
		a.Кредиторов= '';
		a.Требований= '';
		a.На_сумму= '';
	}
	else
	{
		a.Кредиторов+= i.Кредиторов;
		a.Требований+= i.Требований;
		a.На_сумму+= i.На_сумму;
	}
}
function Summarize(o)
{
	var res= {Кредиторов:0,Требований:0,На_сумму:0};
	for (var name in o)
	{
		var t= o[name];
		if (IsLeaf(t))
		{
			Add(res,t);
		}
		else
		{
			for (var tname in t)
			{
				Add(res,t[tname]);
			}
		}
	}
	return res;
}
function DefaultSelectedClass(name,tname)
{
	return ('3-я очередь'!=name || 'без залога'!=tname) ? ' ' : ' selected';	
}
%>
<div class="ama-registry-summary">
	<table>
		<tr class="title">
			<td class="title"></td>
			<td>кредиторов</td>
			<td>требований</td>
			<td>на сумму</td>
		</tr>
		<tr class="total" selection="">
			<% var t= Summarize(obj.model) %>
			<td class="title">весь реестр</td>
			<td>
				<%= t.Требований %><% if (0) { %>1178<% } %>
			</td>
			<td>
				<%= t.Кредиторов %><% if (0) { %>1256<% } %>
			</td>
			<td>
				<%= obj.foreign_data(t.На_сумму) %><% if (0) { %>275 500 000<% } %> 
				р.
			</td>
		</tr>
		<%
			for (var name in obj.model)
			{
				var t= obj.model[name];
				if (IsLeaf(t))
				{
		%>
		<tr class="queue-number" selection="<%= name %>" >
			<td class="title"><%= name %><% if (0) { %>1-я очередь<% } %></td>
			<td>
				<%= t.Кредиторов %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= t.Требований %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= obj.foreign_data(t.На_сумму) %><% if (0) { %>300 000<% } %> 
				р.
			</td>
		</tr>
		<%
				}
				else
				{
		%>
		<tr class="queue-number" selection="<%= name %>" >
			<% var tt= Summarize(t) %>
			<td class="title"><%= name %><% if (0) { %>3-я очередь<% } %></td>
			<td>
				<%= tt.Кредиторов %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= tt.Требований %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= obj.foreign_data(tt.На_сумму) %><% if (0) { %>300 000<% } %> 
				р.
			</td>
		</tr>
		<%
					for (var tname in t)
					{
						var tt= t[tname];
		%>
		<tr class="leaf" selection="<%= name %>$<%= tname %>" >
			<td class="title"><%= tname %><% if (0) { %>без залога<% } %></td>
			<td>
				<%= tt.Кредиторов %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= tt.Требований %><% if (0) { %>10<% } %>
			</td>
			<td>
				<%= obj.foreign_data(tt.На_сумму) %><% if (0) { %>300 000<% } %> 
				р.
			</td>
		</tr>
		<%
					}
				}
			}
		%>
	</table>
</div>