﻿<style>
div.ama-registry-paged span.title1,
div.ama-registry-paged span.title2
{
	font-weight: bold;
	font-size: large
}
div.ama-registry-paged table.grid tr.jqgrow td
{
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
</style>
<div class="ama-registry-paged">
	<span class="title1">Все требования</span><span class="title2"></span>:
	<table id="cpw-ama-registry-paged-grid" class="grid"></table>
	<div id="gridPager"></div>
</div>