﻿<style>
div.ama-registry-changedoc div.head
{
	margin-top: 3px;
}
div.ama-registry-changedoc button.ui-widget
{
	font-size: 13.3px;
}
</style>
<div class="ama-registry-changedoc">
	<div class="head">
		<%= obj.fields_control('ЗаголовокИзменяющегоДокумента') %>
	</div>
	<div class="changes">
		<%= obj.control('Изменения') %>
	</div>
</div>