﻿<style>
div.ama-registry-changedoc-include-head div.row
{
}
div.ama-registry-changedoc-include-head div.title1
{
	display: inline-block;
	width: 150px;
}
div.ama-registry-changedoc-include-head select.creditor
{
	width: 300px;
}
div.ama-registry-changedoc-include-head input.rub
{
	width: 120px;
}
div.ama-registry-changedoc-include-head input.kop
{
	width: 40px;
}
div.ama-registry-changedoc-include-head input.title
{
	width: 430px;
}
div.ama-registry-changedoc-include-head div.row
{
	margin-top: 3px;
	margin-bottom: 3px;
}
</style>
<div class="ama-registry-changedoc-include-head">

	<div class="row">
		<div class="title1">Кредитор:</div>
		<input type="text" class="title" value ="<%= obj.txt('Кредитор.Наименование') %>" /> 
		<button class="creditor-params">Реквизиты..</button>
	</div>
<!--
	<div class="row">
		<div class="title1">Размер требований:</div>
		<input type="text" value="<%= obj.txt('Требование.рублей') %>" class="rub" /> 
		рублей 
		<input type="text"  value="<%= obj.txt('Требование.копеек') %>" class="kop" /> 
		копеек.
	</div>
-->
</div>