﻿<style>
    div.ama-creditor
    {
        width: 610px;
    }
    div.ama-creditor textarea.first
    {
        margin-left: 20px;
    }
    div.ama-creditor textarea.address
    {
        width: 582px;
    }
    div.ama-creditor textarea
    {
        height: 35px;
    }
    div.ama-creditor div.name
    {
        display: inline-block;
        width: 60px;
        text-align: right;
        line-height: 90%;
    }
    div.ama-creditor input.name
    {
        width: 129px;
    }

    div.ama-creditor div.label
    {
        display: inline-block;
        padding-right: 10px;
    }
    div.ama-creditor div.label.bank1
    {
        width: 77px;
    }
    div.ama-creditor div.row
    {
        margin-bottom: 3px;
        margin-top: 3px;
    }
    div.ama-creditor input[model_field_name="Банковские_атрибуты.Банк.Наименование"]
    { width: 541px; }
    div.ama-creditor input[model_field_name="Банковские_атрибуты.Банк.Отделение"]
    { width: 453px; }
    div.ama-creditor input[model_field_name="Банковские_атрибуты.Банк.Корреспондентский_счёт"]
    { width: 247px; }
    div.ama-creditor input[model_field_name="Банковские_атрибуты.Расчётный_счёт"]
    {
        width: 454px;
        margin-left: 16px;
    }
    div.ama-creditor input[model_field_name="Контактные_телефоны"]
    { width: 468px; }
    div.ama-creditor textarea[model_field_name="Банковские_атрибуты.текст"]
    {width: 582px;height: 85px; }
    div.ama-creditor textarea[model_field_name="Паспорт.Кем_выдан.текст"]
    { width: 541px; }
    div.ama-creditor.legal div.person-data.legal { display: inline-block; }
    div.ama-creditor.legal div.person-data.natural { display: none; }
    div.ama-creditor.natural div.person-data.legal { display: none; }
    div.ama-creditor.natural div.person-data.natural { display: inline-block; }
    div.ama-creditor div.person-data { height: 125px; }
    div.ama-creditor.structured-bank-data div.structured.bank-data { display: inline-block; }
    div.ama-creditor.unstructured-bank-data div.unstructured.bank-data { display: inline-block; }
    div.ama-creditor.structured-bank-data div.unstructured.bank-data { display: none; }
    div.ama-creditor.unstructured-bank-data div.structured.bank-data { display: none; }

    a {
        color: #78A0DC;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .table-of-contents li {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    .table-of-contents li a {
        font-size: 10pt;
        color: #999;
    }

    p + p {
        margin: 10px 0 0 0;
    }

    /* site theme */
    /* ---------- */

    .title {
        margin: 20px 0 0 0;
        font-size: 10pt;
    }

    .typeahead,
    .tt-query,
    .tt-hint {
        height: 13px;
        padding: 2px 6px;
        font-family: "Tahoma" !important;
        font-size: 8.5pt;
        border: 1px solid #ccc;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        outline: none;
    }

    .typeahead {
        background-color: #fff;
        width: 502px;
    }

    .typeahead:focus {
        border: 1px solid #78A0DC;
    }

    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-menu {
        width: 502px;
        /*max-height: 600px;*/
        margin: 6px 0;
        padding: 2px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    .tt-suggestion {
        padding: 2px 6px;
        font-size: 10pt;
        line-height: 24px;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #78A0DC;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #78A0DC;

    }

    .tt-suggestion p {
        margin: 0;
    }

    .gist {
        font-size: 10pt;
    }

    /* example specific styles */
    /* ----------------------- */

    #custom-templates .empty-message {
        padding: 2px 6px;
        text-align: center;
    }

    #multiple-datasets .league-name {
        margin: 0 20px 5px 20px;
        padding: 2px 0;
        border-bottom: 1px solid #ccc;
    }

    #rtl-support .tt-menu {
        text-align: right;
    }

</style>

<div class="ama-creditor">


    <div class="row" style="text-align:right; margin-right: 4px;">
		<select class="person-type" <%= obj.select_attrs('Тип') %> >
			<option <%= obj.option_attrs('legal') %> >Юридическое лицо</option>
			<option <%= obj.option_attrs('natural') %> >Физическое лицо</option>
		</select>
	</div>

	<div class="person-data legal">
		<div class="row">
            <div class="label" style="float: left;">Наименование:</div>
            <input id="lookup" class="typeahead" type="text" placeholder="Наименование" value="<%= obj.txt('Наименование') %>" />
		</div>

		<div class="row">
			Руководитель (уполномоченный представитель):
		</div>

		<div class="row">
			<div class="label">Фамилия:</div>
			<input type="text" class="name" value="<%= obj.txt('Руководитель.Фамилия') %>" />

			<div class="label name">Имя:</div>
			<input type="text" class="name" value="<%= obj.txt('Руководитель.Имя') %>" />

			<div class="label name">Отчество:</div>
			<input type="text" class="name" value="<%= obj.txt('Руководитель.Отчество') %>" />
		</div>

		<div class="row">
			Местонахождение (адрес):<br/>
			<textarea class="address first" <%= obj.textarea_attrs('Адрес.Фактический') %> 
				><%= obj.get_model_field_value('Адрес.Фактический') %></textarea>
		</div>
	</div>

	<div class="person-data natural">

		<div class="row">
			<div class="label">Фамилия:</div>
			<input type="text" class="name" value="<%= obj.txt('Фамилия') %>" />

			<div class="label name">Имя:</div>
			<input type="text" class="name" value="<%= obj.txt('Имя') %>" />

			<div class="label name">Отчество:</div>
			<input type="text" class="name" value="<%= obj.txt('Отчество') %>" />
		</div>

		<div class="row" style="margin-top: 5px; margin-bottom: 0;">
			Паспортные данные:
		</div>

		<div class="row" style="margin-left: 16px;">
			<div class="label">Серия:</div>
			<input type="text" class="name" value="<%= obj.txt('Паспорт.Cерия') %>" />

			<div class="label name">Номер:</div>
			<input type="text" class="name" value="<%= obj.txt('Паспорт.Номер') %>" />

		    <div class="label name">Дата выдачи:</div>
			<input type="text" class="name" <%= obj.date_attrs() %> value="<%= obj.txt('Паспорт.Дата_выдачи') %>" />
		</div>

		<div class="row" style="padding-left:14px;">
			<div class="label" style="vertical-align:top">Выдан:</div>
			<textarea <%= obj.textarea_attrs('Паспорт.Кем_выдан.текст') %> ><%= obj.get_model_field_value('Паспорт.Кем_выдан.текст') %></textarea>
		</div>
	</div>

	<div class="row">
		Адрес для почтовых уведомлений:<br/>
		<textarea class="first address" <%= obj.textarea_attrs('Адрес.Почтовый') %> ><%= obj.get_model_field_value('Адрес.Почтовый') %></textarea>
	</div>

	<div class="row">
		<div class="label">Контактные телефоны:</div>
		<input type="text" value="<%= obj.txt('Контактные_телефоны') %>" />
	</div>
	<div class="row">
		<label style="float: right; margin-right: 1px;">
			Структурированно
			<label style="display: block; float: right;">
				<input type="checkbox" class="structured-bank-data"<%= obj.checkbox_attrs('Банковские_атрибуты.Структурировано',true) %> />
			</label>
		</label>
		<b>Банковские реквизиты:</b>
	</div>

	<div class="bank-data structured">
		<div class="row" style="padding-left:20px;">
			<div class="label">Банк:</div>
			<input type="text" value="<%= obj.txt('Банковские_атрибуты.Банк.Наименование') %>" />
		</div>

		<div class="row" style="padding-left:60px;">
			<div class="label bank1">Отделение:</div>
			<input type="text" value="<%= obj.txt('Банковские_атрибуты.Банк.Отделение') %>" />
		</div>

		<div class="row" style="padding-left:60px;">
			<div class="label bank1">БИК:</div>
			<input type="text" value="<%= obj.txt('Банковские_атрибуты.Банк.БИК') %>" /> 
			<div class="label" style="padding-left:10px;">Корр/счёт:</div>
			<input type="text" value="<%= obj.txt('Банковские_атрибуты.Банк.Корреспондентский_счёт') %>" />
		</div>

		<div class="row" style="padding-left:34px;">
			<div class="label">Расчётный счёт:</div>
			<input type="text" value="<%= obj.txt('Банковские_атрибуты.Расчётный_счёт') %>" />
		</div>
	</div>

	<div class="bank-data unstructured">
		<textarea class="first" <%= obj.textarea_attrs('Банковские_атрибуты.текст') %> ><%= obj.get_model_field_value('Банковские_атрибуты.текст') %></textarea>
    </div>
</div>