﻿<style>
	div.cpw-form-ama-address-input {
		display: flex;
	}

		div.cpw-form-ama-address-input .typeahead,
		div.cpw-form-ama-address-input .tt-query,
		div.cpw-form-ama-address-input .tt-hint {
			width: 100%;
			height: 100%;
			padding: 4px 2px;
			float: left;
			font-size: 20px;
			line-height: 25px;
			border: 2px solid #ccc;
			outline: none;
		}

		div.cpw-form-ama-address-input .typeahead {
			background-color: #fff;
		}

			div.cpw-form-ama-address-input .typeahead:focus {
				border: 2px solid #0097cf;
			}

		div.cpw-form-ama-address-input .tt-query {
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		}

		div.cpw-form-ama-address-input .tt-hint {
			color: #999
		}

		div.cpw-form-ama-address-input .tt-menu {
			width: 422px;
			margin: 12px 0;
			padding: 8px 0;
			background-color: #fff;
			border: 1px solid #ccc;
			border: 1px solid rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
		}

		div.cpw-form-ama-address-input .tt-suggestion {
			padding: 3px 20px;
			font-size: 18px;
			line-height: 24px;
		}

			div.cpw-form-ama-address-input .tt-suggestion:hover {
				cursor: pointer;
				color: #fff;
				background-color: #0097cf;
			}

			div.cpw-form-ama-address-input .tt-suggestion.tt-cursor {
				color: #fff;
				background-color: #0097cf;
			}

			div.cpw-form-ama-address-input .tt-suggestion p {
				margin: 0;
			}

		div.cpw-form-ama-address-input .gist {
			font-size: 14px;
		}

		div.cpw-form-ama-address-input button {
			height: 37px;
			width: 30px;
			position: relative;
			float: right;
			border: 1px solid #ccc;
		}

			div.cpw-form-ama-address-input button:hover {
				border: 1px solid #0097cf;
				cursor: pointer;
				color: #fff;
				background-color: #0097cf;
			}

	.error {
		background: #CC0000;
		opacity: 0.5;
	}
</style>
<div class="cpw-form-ama-address-input">

	<input class="typeahead" type="text" value="<%= obj.txt('Текстом') %>" />
	<button class="open">..</button>

</div>
