﻿<style>
	div.cpw-form-ama-address-textarea {
		display: flex;
	}

		div.cpw-form-ama-address-textarea .typeahead,
		div.cpw-form-ama-address-textarea .tt-query,
		div.cpw-form-ama-address-textarea .tt-hint {
			width: 100%;
			height: 100%;
			padding: 4px 8px;
			font-size: 20px;
			line-height: 25px;
			border: 2px solid #ccc;
			outline: none;
		}

		div.cpw-form-ama-address-textarea .typeahead {
			background-color: #fff;
		}

			div.cpw-form-ama-address-textarea .typeahead:focus {
				border: 2px solid #0097cf;
			}

		div.cpw-form-ama-address-textarea .tt-query {
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		}

		div.cpw-form-ama-address-textarea .tt-hint {
			color: #999
		}

		div.cpw-form-ama-address-textarea .tt-menu {
			width: 422px;
			margin: 12px 0;
			padding: 8px 0;
			background-color: #fff;
			border: 1px solid #ccc;
			border: 1px solid rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			box-shadow: 0 5px 10px rgba(0,0,0,.2);
		}

		div.cpw-form-ama-address-textarea .tt-suggestion {
			padding: 3px 20px;
			font-size: 18px;
			line-height: 24px;
		}

			div.cpw-form-ama-address-textarea .tt-suggestion:hover {
				cursor: pointer;
				color: #fff;
				background-color: #0097cf;
			}

			div.cpw-form-ama-address-textarea .tt-suggestion.tt-cursor {
				color: #fff;
				background-color: #0097cf;
			}

			div.cpw-form-ama-address-textarea .tt-suggestion p {
				margin: 0;
			}

		div.cpw-form-ama-address-textarea .gist {
			font-size: 14px;
		}

	div.cpw-form-ama-address-textarea button {
		height: 37px;
		width: 30px;
		position: relative;
		float: right;
		border: 1px solid #ccc;
	}

		div.cpw-form-ama-address-textarea button:hover {
			border: 1px solid #0097cf;
			cursor: pointer;
			color: #fff;
			background-color: #0097cf;
		}

	.error {
		background: #CC0000;
		opacity: 0.5;
	}
</style>
<div class="cpw-form-ama-address-textarea">

	<textarea class="typeahead" <%= obj.textarea_attrs('Текстом') %>><%= !obj.model ? '' : obj.model.Текстом %></textarea>

	<button class="open">..</button>

</div>
