﻿<style>
div.ama-changedocs table.grid#cpw-ama-changedocs-grid tr.jqgrow td
{
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}
div.ama-changedocs div.commands, 
div.ama-changedocs div.state-commands, 
div.ama-changedocs div.rtc-commands
{
	display: inline-block;
}
div.ama-changedocs div.commands
{
	display: inline-block;
	float: right;
}
div.ama-changedocs h1
{
	font-size: 18px;
}
div.ama-changedocs button.ui-widget
{
	font-size: 13.3px;
}
</style>
<div class="ama-changedocs">
	<div class="commands">
		<div class="state-commands">
			<div style="display:inline-block">
				<button class="state"  cmd="проверено">Отметить как</button>
				<button class="select-state" cmd="проверено">Выберите как отметить</button>
			</div>
			<ul style="z-index: 1000;position: absolute;">
				<li cmd="проверено">Проверено</li>
				<li cmd="заблокировано" >Заблокировано</li>
			</ul>
		</div>
		&nbsp;
		<button class="delete">Удалить</button>
		<button class="edit">Редактировать</button>
		<button class="add">Зарегистрировать</button>
		&nbsp;
		<div class="rtc-commands">
			<div style="display:inline-block">
				<button class="rtc" cmd="Сверить">РТК</button>
				<button class="select" cmd="Сверить">Выберите команду</button>
			</div>
			<ul style="z-index: 1000;position: absolute;">
				<li cmd="Сверить">Сверить реестр с первичными документами</li>
				<li cmd="Сформировать_по_реестру" >Сформировать документы по реестру</li>
				<li cmd="Сформировать_реестр" >Обновить реестр по документам</li>
				<li cmd="Сформировать_печатный_реестр_на_дату" >Сформировать печатный реестр по документам на дату</li>
			</ul>
		</div>
	</div>
	<h1>Изменяющие РТК документы:</h1>

	<table id="cpw-ama-changedocs-grid" class="grid"></table>
	<div id="gridPager"></div>
</div>