﻿<style>
div.ama-changedocs-remove-confirm span.action
{
	font-weight: bold;
	font-size: large;
}
</style>
<div class="ama-changedocs-remove-confirm">
	Вы действительно хотите 
	<span class="action">
		<% if (0) { %>удалить<% } %> 
		<% if ('удалить'==obj.action) { %>удалить<% } %> 
		<% if ('проверено'==obj.action) { %>отметить как проверенные<% } %> 
		<% if ('заблокировано'==obj.action) { %>заблокировать от дальнейшего изменения<% } %> 
	</span> 
	данные о нижеследующих изменяющих реестр кредиторов документах?
	<ol>
		<% for (var i= 0; i<obj.changedocs.length; i++) { 
				var cdoc= obj.changedocs[i];
		%>
		<li>
			<%= cdoc.Наименование %><% if (0) { %>Определение арбитражного суда<% } %> 
			от 
			<%= cdoc.Дата %><% if (0) { %>1.1.1<% } %>
		</li>
		<% } %>
	</ol>
</div>