﻿<style>
	div.cpw-form-ama-address-form textarea {
		vertical-align: top;
		height: 48px;
		width: 890px;
		padding: 1px 3px;
		border-color: #8AB8DB;
		border: solid;
		border-width: 1px;
		background-color: transparent;
	}

	div .cpw-form-ama-address-form-tab-yandex div.results select.selCity {
		width: 898px;
		padding: 1px;
		border: solid;
		border-width: 1px;
	}

		div .cpw-form-ama-address-form-tab-yandex div.results select.selCity::-ms-expand {
			border: none;
			background-color: transparent;
		}

			div .cpw-form-ama-address-form-tab-yandex div.results select.selCity::-ms-expand:hover {
				border: 1px solid #0097cf;
				cursor: pointer;
				color: #fff;
				background-color: #0097cf;
				border-radius: 3px;
			}

	div .cpw-form-ama-address-form-tab-yandex .mtitle_1, div.cpw-form-ama-address-form-tab-parts .mtitle_2 {
		padding: 0;
		width: 100%;
	}

	div.cpw-form-ama-address-form-tab-parts {
		margin: 5px 0 0 0;
	}

		div.cpw-form-ama-address-form-tab-parts div {
			display: inline-block;
		}

		div.cpw-form-ama-address-form-tab-parts input {
			margin: 3px 0 3px 0;
			padding: 3px;
			border: solid;
			border-width: 1px;
		}

		div.cpw-form-ama-address-form-tab-parts select {
			margin-top: 10px;
			margin-bottom: 10px;
			width: 200px;
			padding: 0 3px;
		}

		div.cpw-form-ama-address-form-tab-parts p {
			padding-left: 150px;
			width: 500px;
		}

		div.cpw-form-ama-address-form-tab-parts .title {
			width: 133px;
			margin: 5px 10px 5px 10px;
		}

		div.cpw-form-ama-address-form-tab-parts div.rigrrn input, div.cpw-form-ama-address-form-tab-parts div.rigrrn2 input {
			width: 219px;
		}

		div.cpw-form-ama-address-form-tab-parts div.rigrrn1 input, div.cpw-form-ama-address-form-tab-parts div.street input {
			width: 599px;
		}

		div.cpw-form-ama-address-form-tab-parts div.xsize input {
			width: 84px;
		}

		div.cpw-form-ama-address-form-tab-parts div.row div.title.xs {
			width: 70px;
			margin: 5px;
		}

	div.forButton button, div.cpw-form-ama-address-form-tab-yandex button {
		margin: 5px 0 0 0;
	}

		div.forButton button:hover, div.cpw-form-ama-address-form-tab-yandex button:hover {
			border: 1px solid #C5DBEC;
			cursor: pointer;
			color: #fff;
			background-color: #0097cf;
			border-radius: 3px;
		}

	div.cpw-form-ama-address-form-tab-yandex div.mtitle_1 ul {
		margin: 0;
	}

	div.cpw-form-ama-address-form-tab-yandex div.mtitle_1 span.verifiAdress {
		font-weight: bold;
		margin: 0 0 0 39px;
	}

	.normal_word {
		color: black;
		font-weight: bold;
	}

	.normal_button {
		border: 1px solid #C5DBEC;
		background-color: #EAF5FE;
		color: #2E6E9E;
	}

	.Attention_text {
		color: red;
		font-weight: bold;
	}

		.Attention_button {
		color: red;
		background-color: #fff;
		font-weight: bold;
		border: 1px solid red;
	}

	.transparetElement {
		opacity: 0;
	}
</style>
<div class="cpw-form-ama-address-form">

	<div class="mtitlle">Адрес текстом:</div>
		<textarea <%= obj.textarea_attrs('Текстом') %> ><%= !obj.model ? '' : obj.model.Текстом %></textarea>

	<div class="cpw-form-ama-address-form-tab-yandex">
		<button class="refreshYandex">Проверить адрес текстом по Яндексу</button>
		<div class="mtitle_1">
			Яндекс по адресу текстом<br />
			<span class="verifiAdress"></span>
			<br />
			выдаёт <span class="mini"></span> адреса. <span class="ifOneResult"> Пожалуйста:<br />
				<ul>
					<li>выберите вариант, который имеется в виду</li>
					<li>или уточните поле адрес текста и проверьте его по Яндексу снова</li>
				</ul>
			</span>
		</div>
		<div class="results">
			Варианты, найденные Яндексом:
		<select class="selCity">
		</select>
		</div>
	</div>

	<div class="cpw-form-ama-address-form-tab-parts">

		<div class="mtitle_2">
			Части адреса для ввода в разные формы документов: <br/>
		<span class="conformity"></span>
		</div>

		<div class="row rigrrn">
			<div class="title">Регион:</div>
			<input type="text" value="<%= obj.txt('Регион') %>" />

			<div class="title">Индекс:</div>
			<input type="text" value="<%= obj.txt('Индекс') %>" />
		</div>

		<div class="row rigrrn1">
			<div class="title">Город:</div>
			<input type="text" value="<%= obj.txt('Город') %>" />
		</div>

		<div class="row rigrrn2">
			<div class="title">Населенный пункт:</div>
			<input type="text" value="<%= obj.txt('Населенный_пункт') %>" />

			<div class="title">Район:</div>
			<input type="text" value="<%= obj.txt('Район') %>" />
		</div>

		<div class="row street">
			<div class="title">Улица:</div>
			<input type="text" value="<%= obj.txt('Улица') %>" />
		</div>

		<div class="row xsize">
			<div class="title">Дом:</div>
			<input type="text" value="<%= obj.txt('Дом') %>" />

			<div class="title xs">Корпус:</div>
			<input type="text" value="<%= obj.txt('Корпус') %>" />

			<div class="title xs">Строение:</div>
			<input type="text" value="<%= obj.txt('Строение') %>" />

			<div class="title xs">Квартира:</div>
			<input type="text" value="<%= obj.txt('Квартира') %>" />
		</div>
	</div>
	<div class="forButton">
		<button class="refreshTabParts">Сформировать адрес текстом по отдельным частям адреса</button>
	</div>
</div>
