﻿<style>
	div.cpw-form-ama-address-form-tab-modal-2 span.AddressValue{
		margin: 0 0 0 40px;
		font-weight: bold;
	}

</style>
<div class="cpw-form-ama-address-form-tab-modal-2">
Адрес, сформированный по изменённым отдельным частям будет выглядеть как:<br /><br />
	<span class="AddressValue"><%= obj.Текстом %></span><br /><br />
<span class="ask">Заменить адреса текстом на предложенные выше вариант?</span><br />
</div>