﻿<style>
	div.cpw-form-ama-address-form-tab-modal .mtitle {
		padding: 0;
		width: 100%;
	}

	div.cpw-form-ama-address-form-tab-modal div.title {
		width: 100%;
	}

	div.cpw-form-ama-address-form-tab-modal {
		margin: 5px 0 0 0;
	}

		div.cpw-form-ama-address-form-tab-modal div {
			display: inline-block;
		}

		div.cpw-form-ama-address-form-tab-modal span {
			display: inline-block;
			padding: 1px;
			width: 200px;
		}
		div.cpw-form-ama-address-form-tab-modal span.title1 {
			text-align: right;
			width: 133px;
		}

		div.cpw-form-ama-address-form-tab-modal select {
			margin-top: 10px;
			margin-bottom: 10px;
			width: 200px;
		}

		div.cpw-form-ama-address-form-tab-modal .title span.values {
			margin: 5px 10px 5px 10px;
			font-weight: bold;
		}

		div.cpw-form-ama-address-form-tab-modal span.ask {
		padding: 0;
		width: 100%;
			}
			
	.ifNullValue {
		display: none;
	}

</style>
<div class="cpw-form-ama-address-form-tab-modal">

		<div class="mtitle">
			Яндекс разбивает выбранный вариант адреса на следующие части:
		</div>
<% if (obj.Регион && ''!=obj.Регион) { %>
		<div class="title"><span class="title1">Регион:</span>
		<span class="values"><%= obj.Регион %><% if (0) {%>Удмуртия<% } %></span></div>
	<% } %>

	<% if (obj.Индекс && ''!=obj.Индекс) { %>
		<div class="title"><span  class="title1">Индекс:</span>
		<span class="values"><%= obj.Индекс %></span></div>
	<% } %>

		<% if (obj.Город && ''!=obj.Город) { %>
		<div class="title"><span class="title1">Город:</span>
		<span class="values"><%= obj.Город %></span></div>
	<% } %>

		<% if (obj.Населенный_пункт && ''!=obj.Населенный_пункт) { %>
		<div class="title"><span class="title1">Населенный пункт:</span>
		<span class="values"><%= obj.Населенный_пункт %><% if (0) {%>Удмуртия<% } %></span></div>
	<% } %>

		<% if (obj.Район && ''!=obj.Район) { %>
		<div class="title"><span class="title1">Район:</span>
		<span class="values"><%= obj.Район %></span></div>
	<% } %>

		<% if (obj.Улица && ''!=obj.Улица) { %>
		<div class="title"><span class="title1">Улица:</span>
		<span class="values"><%= obj.Улица %></span></div>
	<% } %>

		<% if (obj.Дом && ''!=obj.Дом) { %>
		<div class="title"><span class="title1">Дом:</span>
		<span class="values"><%= obj.Дом %></span></div>
	<% } %>

		<% if (obj.Корпус && ''!=obj.Корпус) { %>
		<div class="title xs"><span class="title1">Корпус:</span>
		<span class="values"><%= obj.Корпус %></span></div>
	<% } %>

<% if (obj.Строение && ''!=obj.Строение) { %>
		<div class="title xs"><span class="title1">Строение:</span>
		<span class="values"><%= obj.Строение %></span></div>
<% } %>
		<% if (obj.Квартира && ''!=obj.Квартира) { %>
		<div class="title xs"><span class="title1">Квартира:</span>
		<span class="Apartment values"><%= obj.Квартира %></span></div>
	<% } %>
	<br />
	<span class="ask">Заменить части адреса на предложенные яндексом для выбранного варианта?</span><br />
</div>
