﻿<style>
div.ama-registry-changedoc-head div.title1
{
	display: inline-block;
	width: 110px;
}
div.ama-registry-changedoc-head div.title
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
div.ama-registry-changedoc-head input.full
{
	width: 710px;
}
div.ama-registry-changedoc-head select
{
	width: 764px;
}
div.ama-registry-changedoc-head > h1
{
	font-size: 18px;
}
div.ama-registry-changedoc-head div.row
{
	margin-bottom: 3px;
}
</style>
<div class="ama-registry-changedoc-head">
	<div class="row">
		<div class="title1">Документ:</div>
		<input type="text" class="full" value="<%= obj.txt('Наименование') %>" />
	</div>
	<div class="row">
		<div class="title1">Дата:</div>
		<input type="text" value="<%= obj.txt('Дата') %>" <%= obj.date_attrs() %> />
		<div class="title">Номер:</div>
		<input type="text" value="<%= obj.txt('Номер') %>"/>
	</div>
	<div class="row">
		<div class="title1">Файл:</div>
		<input type="text" class="full" value="<%= obj.txt('Путь_к_файлу') %>" /> 
		<button class="open-file">Открыть..</button>
	</div>
</div>