/* 
Данный файл содержит стили, адаптирующие раздел торги со стилями ПАУ..
*/

/* Глобальные стили */

@font-face
{
	font-family: "CPW-normal";
}

@font-face
{
	font-family: "CPW-bold";
}

html { font-family: CPW-normal; /* 1 */ }
body { margin: 8px; }
input[type="checkbox"], input[type="radio"] { padding: 3px; }
td, th {padding: 1px;}

/* Глобальные стили для meo */

body.cpw-ama ul.ui-tabs-nav
{
	border-bottom-width: 0px;
}

body.cpw-ama
{
	margin: 8px;
	padding: 0;
	color: #000;
	font-family: "Tahoma" !important;
	background: #FFF;
	line-height: 1.5;
	font-size: 8.5pt;
}

body.cpw-ama .ui-widget
{
	font-family: "Tahoma";
	font-size: 8.5pt;
}

body.cpw-ama a { color: RGB(0,159,219); }

body.cpw-ama input.invalid
{
	background-color: pink;
}

body.cpw-ama a.visible-if-invalid
{
	color: red;
}

/* Стиль всех страниц */

body.cpw-ama > div.page-container
{
	background: white;

	    width: 1000px;
	min-width:  780px;

	margin-top:    30px;
	margin-bottom:  5px;

	margin-left:   auto;
	margin-right:  auto;
}
