﻿<style>
div.ama-registry-main
{
	display: inline-block;
}
div.ama-registry-main div.selector
{
	display: inline-block;
	float:left;
	width: 400px;
	height:350px;
}
div.ama-registry-main div.grid
{
	display: inline-block;
	width: 600px;
}
div.ama-registry-main h1
{
	font-size: 19px;
}
div.ama-registry-main div.commands
{
	display: inline-block;
	float: right;
}
</style>
<div class="ama-registry-main">
	<div class="head">
		<div class="commands">
			<button class="open">Открыть</button>
			<button class="change">Зарегистрировать изменяющий документ</button>
			<button class="print">Печать</button>
			<button class="extra">Ещё</button>
		</div>
		<h1>Реестр требований кредиторов</h1>
	</div>
	<div class="selector">селектор раздела</div>
	<div class="grid">таблица требований</div>
</div>