﻿<style>
div.ama-registry-changedoc-changes
{
	width: 960px;
}
div.ama-registry-changedoc-changes div.commands
{
	float: right;
	font-size: small;
	display: inline-block;
}
div.ama-registry-changedoc-changes div.full
{
	width: 100%;
}
div.ama-registry-changedoc-changes div.changes-head
{
	background-color: silver;
	padding: 6px;
	margin-bottom: 3px;
}
div.ama-registry-changedoc-changes div.change-head
{
	display: inline-block;
	width: 100%;
}

div.ama-registry-changedoc-changes div.changes-head
{
	display: inline-block;
	float: right;
	height: 28px;
}
div.ama-registry-changedoc-changes div.change-head div.buttons
{
	display: inline-block;
	float: right;
	padding-right: 42px;
}
div.ama-registry-changedoc-changes > div.not-empty-list > div.collection-item
{
	border-bottom: 1px solid silver;
	padding-top: 3px;
	padding-bottom: 3px;
}
div.ama-registry-changedoc-changes div.change-body
{
	padding-left: 20px;
}
</style>
<div class="ama-registry-changedoc-changes">
	<div class="full changes-head">
		<div class="commands">
			<div style="display:inline-block">
				<button class="add" cmd="Включить">добавить изменение</button>
				<button class="select" cmd="Включить">Выберите тип изменения</button>
			</div>
			<ul style="z-index: 1000;position: absolute;">
				<li cmd="Включить">Включить требование кредитора</li>
				<li cmd="Внести_списком" >Внести требования списком (импорт)</li>
				<li cmd="Исключить" >Исключить требование кредитора</li>
				<li cmd="Перевести_в_необеспеченные" >Перевести требование в НЕ обеспеченные залогом</li>
				<li cmd="Перевести_в_обеспеченные" >Перевести требование в обеспеченные залогом</li>
				<li cmd="Начислить_проценты" >Начислить проценты</li>
				<li cmd="Зарегистрировать_погашение" >Зарегистрировать погашение</li>
			</ul>
		</div>
		<b>Внести следующие изменения в РТК:</b>
	</div>
	<div <%= obj.not_empty_attrs() %> >
		<% while (obj.iterate()) { %>
			<div <%= obj.item_attrs() %> >
				<div class="change-head">

					<div class="buttons">
						<button class="delete">удалить изменение</button>
					</div>

					<%= obj.item_position1() %>
						<% if (obj.is_seed()) { %>1<% } %>
					<%= obj.item_position1_end() %>)&nbsp;

					<%= obj.text_field('Заголовок') %>
						<% if (obj.is_seed()) { %>Включить в реестр требований кредиторов, требования кредитора<% } %>
					<%= obj.text_field_end() %>

				</div>
				<div class="change-body empty">
					<%= obj.item_control() %>
				</div>
			</div>
		<% } %>
	</div>
</div>