﻿<style>
div.cpw-form-ama-address-test div[model_field_name="address1"]
{
	width: 300px;
	height: 37px;
	border: 1px solid red;
}
div.cpw-form-ama-address-test div[model_field_name="address2"]
{
	width: 300px;
	height: 200px;
	border: 1px solid red;
}
div.cpw-form-ama-address-test div[model_field_name="address3"]
{
	width: 400px;
	height: 37px;
	border: 1px solid red;
}
div.cpw-form-ama-address-test div[model_field_name="address4"]
{
	width: 400px;
	height: 100px;
	border: 1px solid red;
}
</style>
<div class="cpw-form-ama-address-test">

	тестовая страница для элемента управления адрес<br/>

	1) Элементы управления шириной 300px:<br/>
	<%= obj.control('address1') %>

	2) Элемент управления шириной 300px и высотой 200px:<br/>
	<%= obj.control('address2') %>

	3) Элементы управления шириной 400px:<br/>
	<%= obj.control('address3') %>

	4) Элемент управления шириной 400px и высотой 100px:<br/>
	<%= obj.control('address4') %>

</div>